@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Handlee&family=Patrick+Hand&display=swap");
body {
  background-color: #fff;
  background-position: top right;
  overflow-x: hidden;
  background-image: url("../images/theme1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
}

.App {
  text-align: center;
  color: #fff;
}
.App h1 {
  color: #060261;
  font-size: 40px;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1% 0%;
}
.keyboard .keyboard-layout {
  border-radius: 14px;
  background: #b0e2ea;
  box-shadow: -5px -5px 10px rgba(13, 13, 13, 0.137254902), 5px 5px 10px rgba(48, 48, 48, 0.3333333333);
  background-image: url("../images/heart.png");
  background-repeat: no-repeat;
  background-size: 400px;
  padding: 2% 1%;
  padding-top: 3%;
}
.keyboard .keyboard-layout .keyboard-row {
  display: flex;
  gap: 3px;
  justify-content: center;
}
.keyboard .keyboard-layout .keyboard-row .key {
  width: 40px;
  border-radius: 18px;
  background-color: #066db1;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  padding: 8px;
  margin: 4px;
  transition-duration: 0.6s;
  animation: keyboardGlow 5s infinite ease-in-out;
}
.keyboard .keyboard-layout .keyboard-row .key:hover {
  background: rgb(3, 17, 85);
  background: radial-gradient(circle, rgb(178, 140, 248) 20%, rgb(47, 178, 243) 80%);
  box-shadow: -1px 2px 28px -4px rgba(240, 24, 38, 0.91);
  cursor: pointer;
  transition-duration: 0.6s;
}
@keyframes keyboardGlow {
  0% {
    box-shadow: -1px 2px 28px -2px rgb(214, 255, 10);
  }
  20% {
    box-shadow: -1px 2px 28px -2px rgb(35, 8, 146);
  }
  40% {
    box-shadow: -1px 2px 28px -2px rgb(255, 10, 10);
  }
  60% {
    box-shadow: -1px 2px 28px -2px rgb(10, 255, 124);
  }
  80% {
    box-shadow: -1px 2px 28px -2px rgb(209, 119, 254);
  }
  100% {
    box-shadow: -1px 2px 28px -2px rgb(10, 255, 186);
  }
}
.keyboard .keyboard-layout .keyboard-row .space {
  width: 400px;
}
.keyboard .keyboard-layout .keyboard-row #Tab,
.keyboard .keyboard-layout .keyboard-row #CAPS,
.keyboard .keyboard-layout .keyboard-row #SHIFT,
.keyboard .keyboard-layout .keyboard-row #Enter,
.keyboard .keyboard-layout .keyboard-row #Shift {
  text-transform: uppercase;
  width: 100px;
  padding: 8px 16px;
}
.keyboard .keyboard-layout .keyboard-row .alt,
.keyboard .keyboard-layout .keyboard-row .ctrl {
  width: 80px;
}

.typing-input {
  display: flex;
  justify-content: center;
  border: none;
}
.typing-input input {
  width: 47%;
  padding: 10px 20px;
  font-size: 20px;
  margin-bottom: 1%;
  font-family: "Patrick Hand", cursive;
  border: 2px solid #335a31;
  border-radius: 10px;
}
.typing-input input:focus {
  outline: none;
}

.show-words {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}
.show-words .word {
  color: #242424;
  width: 10%;
  padding: 10px 15px;
  margin: 1% 2%;
  font-size: 40px;
  font-family: "Patrick Hand", cursive;
  letter-spacing: 4px;
  font-weight: 900;
  display: flex;
  justify-content: center;
}

.alert {
  display: block;
  align-items: center;
  margin-left: 4%;
}
.alert div {
  margin: 1% 1%;
  width: 10%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  border-radius: 13px;
  border-radius: 13px;
  background: #B9BDA5;
  color: #000;
  font-weight: 900;
  box-shadow: -5px -5px 10px rgba(13, 13, 13, 0.137254902), 5px 5px 10px rgba(48, 48, 48, 0.3333333333);
}
.alert .correct span:nth-child(1) {
  padding: 0% 2%;
  font-weight: 900;
  color: green;
  font-size: 24px;
}
.alert .correct span:nth-child(2) {
  padding: 0% 2%;
  font-weight: 900;
  color: red;
  font-size: 24px;
}

.clear-record {
  border-radius: 14px;
  border: none;
  padding: 4px 8px;
  border-radius: 6px;
  color: #fff;
  background-color: #060261;
  margin: 8px;
  position: absolute;
  top: 50.5%;
  right: 16%;
}
.clear-record:hover {
  background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgb(178, 140, 248) 20%, rgb(47, 178, 243) 80%);
  box-shadow: -1px 2px 28px -4px rgba(240, 24, 38, 0.91);
  cursor: pointer;
  transition-duration: 0.6s;
}

.key-events {
  position: absolute;
  top: 31%;
  right: 12.5%;
  padding: 4px 8px;
  z-index: 4;
  transform: rotate(22deg);
  font-family: "Gochi Hand", cursive;
  color: #1a1a1a;
  font-weight: 900;
}

.stickey {
  position: absolute;
  top: 3%;
  right: 2%;
  width: 23%;
  transform: rotate(22deg);
}

.stats {
  position: absolute;
  top: 21%;
  right: 10.5%;
  color: #335a31;
  z-index: 2;
  transform: rotate(22deg);
  text-align: left;
  font-family: "Handlee", cursive;
  line-height: 2em;
}/*# sourceMappingURL=customlite.css.map */